.secret{
    display: none;
}
/* *{
    outline: 1px solid red;
    box-sizing: border-box;
} */
body{
    background-color: black;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper{
    position: relative;
}
.invisible a{
    background-color: antiquewhite;
    height: 20px;
    width: 20px;
    position: absolute;
    color: antiquewhite;
    text-decoration: none;
}
#image-container{
    display: flex;
    justify-content: center;
}   
.orion-constellation a{
    right: 750px;
    top: 930px;
}
#orion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto -50px;
}
.return{
    display: flex;
    background-color: antiquewhite;
    height: 22px;
    width: 64px;
    color: black;
    flex-direction: column;
}
.description{
    background-color: antiquewhite;
}
.description.wolf-124{
    margin: 0 auto;
    width: 80%;
}
.description.ng-1333{
    margin: 0 auto;
    width: 80%;
}
.description.orion-1{
    margin: 0 auto;
    width: 80%;
}
.description.orion-1 .download{
    font-size: 25px;
}
.wr-124 a{
    right: 950px;
    top: 480px;
}
.ngc-1333 a{
    right: 650px;
    top: 1000px;
}